@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #1D1D1D;

  * {
    font-size: 0.8rem;
  }
}

.text-h6 {
  font-size: 1.10rem;
  line-height: 1.5rem;
}

.login-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  //background: linear-gradient(145deg,$primary 11%,$accent 95%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
}

// app global css in SCSS form

.registration-header {
  background: linear-gradient(145deg, $primary 11%, $accent 95%);
  background-size: auto;
  background-size: cover;
  /* Ellipse 29 */


}

.registration-header .logo-brand {
  float: left;
  margin: 30px 30px 0px;
}

.registration-header svg {
  display: block;
}

.registration-header .logo-brand .logo img {
  width: 40%;
  background: #fff;
  padding: 7px 5px;
  border-radius: 4px;
}

.login-view {
  position: relative;

  .left-side {
    position: absolute;
    width: 55%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: $primary;
    //background: #ECBC76;
  }

  .left-side-img {
    position: absolute;
    width: 219px;
    left: 17vw;
    top: 5vh;
  }

  .right-side-img {
    position: absolute;
    //width: 250px;
    right: 50px;
    top: 23vh;
  }
}

.alreadyHaveToken {
  background: #2374e114;
  //border-radius: 9px;
  color: $primary;
  font-size: 0.85em;
}

.text-weight-normal {
  font-weight: normal;
}

.text-facebook {
  color: #3B5998;
}

.text-twitter {
  color: #00ACED;
}

.q-field__label {
  font-size: 0.8rem;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

.q-page-container {
  background: #E5E5E5;
}

.main-header {
  background: #fff !important;
}

.container {
  padding: 0 10vw;
}

.top-search {
  border-left: 1px solid rgba(0, 0, 0, 0.28);
}

.main-drawer .q-item--active {
  color: rgba(255, 255, 255, 0.89);
  background: rgba(255, 255, 255, 0.102);
}

.main-drawer .q-item--active .q-icon {
  color: rgba(255, 255, 255, 0.89);
}

.main-drawer {
  background: #272f35 !important;
  z-index: 9999 !important;

  .q-icon, .q-item__section {
    color: hsla(0, 0%, 100%, .8901960784313725);
  }
}

.sub-drawer .q-item--active {
  color: rgba(255, 255, 255, 0.89);
  background: rgba(255, 255, 255, 0.102);
}

.sub-drawer .q-item--active .q-icon, .sub-drawer .q-item--active .q-item__section {
  color: rgba(255, 255, 255, 0.89);
}

.sub-drawer {
  background: #272f30 !important;
  z-index: 9999 !important;

  .q-icon, .q-item__section {
    color: #73787c;
  }
}
